.custom-nav {
    .form-group {
        margin-bottom: 0;
    }
    .input-group,
    .input-group-text {
            border: 0;
            background: #fff;
            border-radius: 5px;
    }
    
    .form-control {
        border-radius: 5px !important;
        border: 0;
    }
}