$dark-green: #216438;
$true-green:  #337247;
$light-green: #61A26A;
$dark-gray: #282828;
$true-gray: #303030;
$light-gray: #F0EEE4;
$champagne: #f7e7ce;
$white: #ffffff;
$row-color-1: $dark-green;
$row-color-2: #f3f3f3;
$row-color-3: $light-green;
$button-color-transparent: #04880b;
$greenss: #a5f1af;
/*CSS FOR RESPONSIVE TABLE Start 
	*********************************/
.responsive-table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }
  tr {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    @media only screen and (min-width: 1200px) {
      display: table-row;
      border-bottom-width: 1px;
      margin-bottom: 0;
      &:nth-child(even) {
        background: #fafafa;
      }
    }
  }
  th,
  td {
    padding: 5px;
  }
  th {
    text-transform: uppercase;
    font-size: 11px;
  }

  td {
    display: flex;
    font-size: 13px;
    border-bottom: 1px dotted#ddd;

    &:last-child {
      border-bottom: 2px dotted #ddd;
    }

    @media only screen and (min-width: 1200px) {
      display: table-cell;
      font-size: 14px;
      border-bottom: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .responsive-item {
    text-align: right;
    float: right;
  }

  .responsive-label {
    width: 50%;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1200px) {
  .responsive-label {
    display: none;
  }
}

.inline-block {
  display: inline-block;
}

input:disabled {
  background: #dddddd;
}

input.green-disable:disabled {
  background: #dddddd;
  color: #dddddd;
}

input.green-disable:disabled::placeholder {
  color: #dddddd;
}

.btn-danger.disabled,
.btn-danger:disabled {
  background: #f2f2f2;
  color: $dark-green;
  border-color: $light-green !important;
  cursor: not-allowed;
}

.main {
  background: #ebeff2;
}

input {
  border-radius: 0 !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.input-group-text {
  border-radius: 0 !important;
  background: none !important;
  cursor: pointer;

  i {
    margin-top: 0 !important;
    color: #8f9ba6 !important;
  }
}

.col-right-border {
  border-right: 1px solid #aaa;
}

.has-error {
  border: 1px solid $light-green;
}

.ml-15 {
  @media only screen and (min-width: 1100px) {
    margin-left: 25px;
  }

  @media only screen and (min-width: 1001px) and (max-width: 1100px) {
    margin-left: 20px;
  }

  @media only screen and (max-width: 1000px) {
    margin-left: 20px;
  }
}

.btn {
  font-size: 1em;
  padding: .4em;
  width: 12em;
  border-radius: 2px;
  border: 2px solid $dark-green;
  background: $true-gray;
  color: $white;

  &:hover {
    background-color: $dark-gray;
    background: $white;
    color: $true-gray;
    border-radius: 2px;
    border: 2px solid $button-color-transparent;

    .fa-refresh {
      color: $white;
    }
  }
}

.btn-group > .btn {
  background: transparent !important;
  color: #000 !important;
}
